body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    display: flex;
    justify-content: left;
    padding: 40px;
}

.container {
    width: 100%;
    max-width: 550px;
}

.link-voltar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1F2937;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 25px;
}

.card-edicao {
    background: white;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.container h1 {
    font-size: 20px;
    color: #1F2937;
    margin-bottom: 8px;
}

.subtitulo {
    font-size: 14px;
    color: #64748b;
    margin-bottom: 24px;
}

.alerta-info {
    display: flex;
    align-items: center;
    background-color: #dbeafe;
    border: 1px solid white;
    color: #3b82f6;
    padding: 14px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 24px;
}

.alerta-info i {
    margin-right: 10px;
    font-size: 16px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #1F2937;
    margin-bottom: 8px;
}
.input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    font-size: 14px;
    color: #808080;
}

.ajuda {
    font-size: 12px;
    color: #979696e1;
    margin-top: 6px;
}

.acoes-form {
    display: flex;
    gap: 12px;
    margin-top: 32px;
}

button {
    height: 42px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-cancelar {
    background-color: #e2e8f0;
    color: #1F2937;
    padding: 0 24px;
}

.btn-atualizar {
    background-color: #2563eb;
    color: white;
    flex: 1;
}

.btn-atualizar:hover {
    background-color: #1d4ed8;
}

.btn-atualizar i {
    font-size: 16px;
}

.proximos-passos {
    margin-top: 25px;
}

.divisor {
    border: 0;
    border-top: 1px solid #e2e8f0;
    margin-bottom: 20px;
}

.titulo-passos {
    font-size: 13px;
    color: #808080;
    margin-bottom: 12px;
}

.item-passo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #64748b;
    font-size: 14px;
}

.item-passo i {
    color: #2563eb;
    font-size: 14px;
}